<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<p>
<% if !user_signed_in? %>
<%= link_to “Login or register”, new_user_session_path %><br>
<% end %>
<% if user_signed_in? %>
<%= link_to “Log out”, destroy_user_session_path, method: :delete %>
<% end %>
</p>
<% if user_signed_in? %>
<%= link_to “New product”, new_product_path %><hr>
<% end %>
<% if @posts == [] %>
<p>No product</p>
<% else %>
<% @product.each do | p | %>
<p>User <b><%= p.user.email %></b> write: <br/>
<%= p.title %><br/>
<%= p.description %><br/>
<%= p.price %><br/></p>
<p><%= link_to “Read more”, product_path(product.id) %></p>
<hr>
<% end %>
<% end %>